<div class="jumbotron" id="covid">
  <p id="bold">Now Open for Dine In!</p>
</div>
<div id="home-image">
  <%= image_tag("dumpling.png", alt: "Great Wall of China", class: "img-responsive, home-image") %>
  <div class="centered">GREAT CHINA</div>
</div>

<div class="container menu-display">
  <h1 class="display-menu">~ Appetizers ~
    <!-- <span class="bottom"></span> -->
  </h1>
    <div id="menu">
      <%= render 'appetizers' %>
    </div>
  <h1 class="display-menu">~ Soups ~
    <!-- <span class="bottom"></span> -->
  </h1>
    <div id="menu">
      <%= render 'soups' %>
    </div>
  <h1 class="display-menu">~ Lunch Menu ~
    <!-- <span class="bottom"></span> -->
  </h1>
    <div id="menu">
      <%= render 'lunch' %>
    </div>
  <h1 class="display-menu">~ House Specialties ~
    <!-- <span class="bottom"></span> -->
  </h1>
    <div id="menu">
      <%= render 'house_specialties' %>
    </div>
  <h1 class="display-menu">~ Gourmet Dinners ~
    <!-- <span class="bottom"></span> -->
  </h1>
  <div id="menu">
    <%= render 'gourmet' %>
  </div>
<h1 class="display-menu">~ à la carte ~
  <!-- <span class="bottom"></span> -->
</h1>
  <div id="menu">
    <%= render 'seafood' %>
    <%= render 'pork' %>
    <%= render 'lamb' %>
    <%= render 'beef' %>
    <%= render 'poultry' %>
    <%= render 'vegetables' %>
    <%= render 'soft_noodles' %>
    <%= render 'fried_rice' %>
    <%= render 'egg_foo_young' %>
    <%= render 'chop_suey' %>
    <%= render 'chow_mein' %>
    <%= render 'rice_bowls' %>
  </div>
  <p id="spicy-fried">🌶 = Spicy 💥 = Fried</p>
</div>

<script>
// Select all links with hashes
$('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000, function() {
          // Callback after animation
          // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });
  </script>
<script>
$( ".display-menu" ).click(function() {
  $(this).next().toggle();
  $('html,body').animate({
      scrollTop: $(this).next().offset().top - 70},
      'slow');
});
</script>
