<div class="container menu-display">
  <h1 class="display-menu">~ Appetizers ~
    <!-- <span class="bottom"></span> -->
  </h1>
    <div id="menu">
      <%= render 'appetizers' %>
    </div>
  <h1 class="display-menu">~ Soups ~
    <!-- <span class="bottom"></span> -->
  </h1>
    <div id="menu">
      <%= render 'soups' %>
    </div>
  <h1 class="display-menu">~ Lunch Menu ~
    <!-- <span class="bottom"></span> -->
  </h1>
    <div id="menu">
      <%= render 'lunch' %>
    </div>
  <h1 class="display-menu">~ House Specialties ~
    <!-- <span class="bottom"></span> -->
  </h1>
    <div id="menu">
      <%= render 'house_specialties' %>
    </div>
  <h1 class="display-menu">~ Gourmet Dinners ~
    <!-- <span class="bottom"></span> -->
  </h1>
  <div id="menu">
    <%= render 'gourmet' %>
  </div>
<h1 class="display-menu">~ à la carte ~
  <!-- <span class="bottom"></span> -->
</h1>
  <div id="menu">
    <%= render 'seafood' %>
    <%= render 'pork' %>
    <%= render 'lamb' %>
    <%= render 'beef' %>
    <%= render 'poultry' %>
    <%= render 'vegetables' %>
    <%= render 'soft_noodles' %>
    <%= render 'fried_rice' %>
    <%= render 'egg_foo_young' %>
    <%= render 'chop_suey' %>
    <%= render 'chow_mein' %>
    <%= render 'rice_bowls' %>
  </div>
</div>

<script>
$( ".display-menu" ).click(function() {
  $(this).next().toggle();
  $('html,body').animate({
      scrollTop: $(this).next().offset().top - 70},
      'slow');
});
</script>
