<!DOCTYPE html>
<html>
<head>
  <title>Greatchina</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Tangerine:700|Comfortaa|Supermercado+One", media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="nav-left">
    <ul class="nav">
      <li><%= link_to "Great China", welcome_index_path %></li>
      <li><%= link_to "Menu", menu_path %></li>
      <!-- <li><%= link_to "Order", orders_path %></li> -->
      <!-- <li><%= link_to "Reservations", new_reservation_path %></li> -->
      <li><%= link_to "About", welcome_about_path %></li>
      <!-- <li><%= link_to "Contact", welcome_contact_path %></li> -->
    </ul>
  </div>
  <div class="nav-right">
    <ul class="nav">
      <% if user_signed_in? %>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete  %></li>
        <li><%= link_to "Signed in as: #{current_user.email}", edit_user_registration_path %>
        </li>
     <% else %>
       <li><%= link_to "Sign Up", new_user_registration_path %></li>
       <li><%= link_to "Sign In", new_user_session_path  %></li>
     <% end %>
    </ul>
  </div>
  </nav>
  <%= yield %>
  <footer>
    <div class="row contact-info">
      <div class="col-md-3">
        <%= image_tag("InvertedGreatChinaLogo.png", alt: "Great China Logo", class: "img-responsive logo") %>
      </div>
      <div class="col-md-3 hours">
        <p class="welcome-heading">HOURS</p>
        <p>Sunday:
          11:30am-9pm</p>
        <p>Monday:
          4pm-9pm</p>
        <p>Tuesday-Saturday:
          11am-9pm</p>
      </div>
      <div class="col-md-3 address">
        <p class="welcome-heading">LOCATION</p>
        <p>835 S. Main Ave. Ste. BC</p>
        <p>Fallbrook, CA 92028</p>
        <p>760-728-8889</p>
        <a href="https://www.google.com/maps/dir//Great+China+Restaurant,+835+S+Main+Ave+B-C,+Fallbrook,+CA+92028/@33.8256362,-118.397367,9z/data=!4m8!4m7!1m0!1m5!1m1!1s0x80dc7ebb88b6b6bf:0x9ed071916bd535f1!2m2!1d-117.2529235!2d33.375656" target="_blank"><span></span></a>
      </div>
      <div class="col-md-3">
        <p class="welcome-heading"></p>
        <p>©2018 Great China Restaurant™.</p>
      </div>
    </div>
  </footer>
  <script>
    function initMap() {
      var uluru = {lat: 33.375674, lng: -117.252913};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 17,
        center: uluru,

      });
      var marker = new google.maps.Marker({
        position: uluru,
        map: map
      });
    }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLEMAPS_API_KEY']%>&callback=initMap">
  </script>
</body>
</html>
